* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #111827;
  background: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.register-button > a {
  text-decoration: none;
  display: inline-block;
  padding: 12px 28px;
  background: #1d4ed8;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
.register-button > a:hover {
  background: #2f3f6b;
}

/* Speaker Card */

.speaker-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}
.speaker-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

/* Card Content */

.speaker-info {
  padding: 18px;
}
.speaker-info span {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2563eb;
  margin-bottom: 8px;
}
.speaker-info h3 {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
}
.speaker-info p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
}
/* Pricing Section */
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.pricing-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.pricing-card.active {
  background: #0f172a;
  color: #ffffff;
}
.plan {
  font-size: 12px;
  font-weight: bold;
  color: #6b7280;
  margin-bottom: 10px;
}
.active .plan {
  color: #60a5fa;
}
.pricing-card h3 {
  font-size: 50px;
  margin-bottom: 5px;
}
.price-text {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}
.active .price-text {
  color: #cbd5e1;
}
.pricing-card hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 20px 0;
}
.active hr {
  border-color: #334155;
}
.pricing-card ul {
  list-style: disc;
  padding-left: 18px;
  flex: 1;
}
.pricing-card ul li {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 1.5;
}
