/* Footer Section */
.footer {
  background: #111827;
  padding: 50px 0 25px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* Logo */

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 45px;
  height: 45px;
}

.footer-logo h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
}

/* Social Icons */

.social-icons {
  display: flex;
  gap: 18px;
}

.social-icons a {
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #1f2937;
  color: #ffffff;

  border-radius: 50%;

  text-decoration: none;
  font-size: 18px;

  transition: 0.3s;
}

.social-icons a:hover {
  background: #2563eb;
}

/* Divider */

.footer hr {
  border: none;
  height: 1px;
  background: #374151;
  margin-bottom: 25px;
}
/* Footer Bottom */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Copyright */

.copyright p {
  text-align: center;
  color: #d1d5db;
  font-size: 15px;
}
.copyright p:hover {
  color: #ffffff;
  transition: 0.3s;
  font-weight: 500;
}

/* Footer Links */
.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #d1d5db;
  font-size: 15px;
}
.footer-links a:hover {
  color: #ffffff;
  transition: 0.3s;
  font-weight: 500;
}
